body{
    margin: 0;
    margin-top: -16px;
}
#globalNavi{
	width: 100%;
	background:#c2c5c7db;
}
#globalNavi ul{
    list-style: none;
    margin-left: 14%;
}
#globalNavi ul li a{
	width: 30%;
	float: left;
    padding:20px 0;
    color: black;
    font-size: 27px;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.wap {
    width: 40%;
    margin: 0 auto 0 auto;
}
.top{
    padding-left: 50%;
    width: 50px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding-top: 90px;
    -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.box__area {
    width: 100%;
}
.box__bg_photo{
    width: 100%;
    height: auto;
    background-image: url('../images/background.jpg');
    background-size:cover;
}
.box {
    width: 100%;
}
@media screen and (min-width: 1857px) {
    .content { margin-left: 4%; }
 }

 @media screen and (min-width: 1248px) {
    .content { margin-left: 2%; }
 }
.contents_area {
    width: 90%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}
.content {
    width: 330px;
    height: 410px;
    padding-left: 5px;
    float: left;
    background: white;
    padding-top: 20px;
    margin-bottom: 43px;
    border: solid 6px #afadad80;
    
}
.content p{
    width: 300px;
    padding-left: 15px;
}
.content img{
    width: 150px;
    text-align: center;
    padding-left: 83px;
}
h2{
    margin-top: 0;
    padding: 20px 0 20px 0;
    text-align: center;
}
#syoukai{
    background-image: url('../images/guitar.jpg');
    background-size:cover;
}
.syoukai_content {
    height: 500px;
}
.syoukai_content p{
    color: white;
}